/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*================*/
/*end of reset*/
/*================*/

/*=====================*/
/*page layout stuff*/
/*=====================*/
body {
  font-family: sans-serif;
}

/*===========================*/
/*black background section*/
/*============================*/


.make-this-year {
  background-color: black;
  padding: 2%;
}

.center-box {
  max-width: 620px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.make-this-year img {
  margin-bottom: 70px;
	max-width: 100%;
}

.make-this-year-paragraph-one {
  color:white;
  font-size:2.7em;
  font-weight: bold;
  line-height: 1.3em;
  display: inline-block;
  width: 100%;
}

.dots {
	width: 70%;
	background: url("http://makethisyear.com/images/dot.png") repeat-x bottom left;
	padding: 1%;
}

.js-stuff {
  color: purple;
  text-decoration: underline;
}

.make-this-year-paragraph-two {
  color:white;
  font-size:1.35em;
  line-height: 1.5em;
  margin-top: 50px;
  width: 100%;

}

.email, .invite-button {
  border: none;
  border-radius: 3px;
  font-size: 1.1em;
  padding: 20px 5%;
}

.email {
  margin-right: 2%;
  width: 54%;
	background: #E6E6E6;
  color: #A7A7A7;
}

.invite-button {
  width: 33%;
	background-color: #ae5cc8;
	cursor: pointer;
	color: #FFFFFF;
}



.invite-button:hover {
  background-color: #8a2be2;
}


/*===============================*/
/*instructor description section*/
/*===============================*/

.company-description {
  max-width: 620px;
  margin: 0 auto;
}

.company-description h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 90px;
}



.instructors  li {
	float: left;
  width: 30%;
  margin-right: 3%;
  color: #9c9c9c;
  font-size: .95em;

}



.instructor-pic {
  margin-top: 30px;
	margin-bottom: -70px;
	max-width: 100%;
}

.instructor-name, .instructors h3 {
  color: black;
  font-size: 1.1em;
	font-family: Arial;
	margin-bottom: 5px;

}

.instructors p{
	margin-bottom: 8px;
  line-height: 1.5em;
}

/*=====================*/
/*marketing section*/
/*=====================*/

.marketing {
  clear: left;
}

.marketing h3 {
  padding-top: 90px;
}

.marketing p {
  margin-top: 20px;
  font-size: 1.27em;
  line-height: 1.5em;
}

footer {
  font-size: .9em;
  color: #999999;
  padding-top: 15px;
  margin-bottom: 100px;
}

.marketing p a {
  color: #999999;
}

/*=========================*/
/*company logos section*/
/*=========================*/

.company-logos ul li {
  float: left;
  width: 33%;
}

#fastcompany {
	max-width: 100%;
  padding-top: 18px;
}

#tnw {
  text-align: right;
	max-width: 100%;
}

#quartz {
  text-align: right;
  padding-top: 15px;
	max-width: 100%;
}

.repeat-email {
  clear:left;
  margin-bottom: 100px;
}

.repeat-email p {
  font-size:1.35em;
  line-height: 1.5em;
  margin-top: 250px;
	margin-bottom: 30px;
  width: 100%;
}

footer a {
  color: #999999;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

@media only screen and  (max-width: 619px) {

	.make-this-year {
	  background-color: black;
	  padding-bottom: 5%;
	}

	.center-box {
		width: 88%;
		padding: 2%;
		overflow: auto;
	}

	.make-this-year img {
		margin-top: 10px;
		margin-bottom: 30px;
		max-width: 200px;
	}

	.make-this-year-paragraph-one {
	  color:white;
	  font-size:1.9em;
	  font-weight: bold;
	  line-height: 1.3em;
	  display: inline-block;
	  width: 100%;
	}

	.make-this-year-paragraph-two {
	  color:white;
	  font-size:1.2em;
	  line-height: 1.5em;
	  margin-top: 30px;
		margin-bottom: 15px;
	  width: 100%;

	}

	.email {
		width: 90%;
	}

	.invite-button {
		width: 100%;
		margin-top: 20px;
	}

	.company-description {
	  width: 88%;
		margin-top: -30px;
		padding: 2%;
	}

	.instructors {
		overflow: auto;
	}

	.instructor-pic {
		float: left;
		width: 110px;
		height: 110px;
	}

	.instructors li  {
		width: 100%;
		float: right;
	}

	.instructors li h3, .bio {
		margin-left: 26%;

	}

	.marketing h3 {
		padding: 0;
		line-height: 1.5em;
		font-size: 1.2em;
	}

	.marketing p {
	  margin-top: 20px;
	  font-size: 1em;
	  line-height: 1.7em;
	}













}
